# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\工作-国信\国信\自动化脚本名\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
